

<nav class="navbar bg-light mb-3">
  <div class="container-fluid">
   <h2 class="text-center card-header">Your Dashboard</h2>
  </div>
</nav>

<section class="new-post-section">
    <button type="submit" class="btn btn-primary btn-lg mb-3"><a href="/create-posts{{user.id}}"></a>+ Create New Post</button>
</section>

{{#if posts.length}}
<section>
    <ul class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info }}  on {{format_date dateCreated}}
           <button type="submit" class="btn btn-secondary btn-sm mb-3 edit-link"><a href="/edit-posts/{{post.id}}"></a>Edit Post</button>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

    <script src="/js/post.js"></script>

    

    
   
    